BOT_TOKEN=
WEBHOOK_LOGS_URL=
NODE_OPTIONS="--no-warnings --no-deprecation"
DEVELOPMENT=
GEMINI_API_KEY=
GEMINI_CHATBOT_API_KEY=
DATABASE_URL=
AS_DATABASE_URL= DATABASE DA APLICAÇÃO DE SUPORTE
DEV_DATABASE_URL= DATABASE DE DESENVOLVIMENTO DA APLICAÇÃO PRINCIPAL
DEV_AS_DATABASE_URL= DATABASE DE DESENVOLVIMENTO DA APLICAÇÃO DE SUPORTE

TOPGG_API_TOKEN=
TOPGG_AUTHORIZATION=

LORITTA_API_KEY=

REDIS_URL=
SERVER_PORT=
CLIENT_ID=
CLIENT_SECRET=
SERVER_BASE_URL=
FRONT_BASE_URL=

COOKIE_SECRET=
JWT_SECRET=
FRONT_SECRET=
RECAPTCHA_SECRET_KEY=

FRONT_BASE_URL=

API_FOOTBALL_DATA_KEY=