# Folders
/build
/dist
/discloud
/deprecated
/node_modules
/prisma/prisma
/prisma/erisHelper.prisma

# Files
/.env
/.env.dev
/.env.development
/package-lock.json

# Config files
/firebase.json

# Extensions
*.zip
*.sqlite
*.sql
*.exe
*.db
*.development.json