# Folders
/build
/dist
/discloud
/deprecated
/node_modules
/prisma/eris/
/prisma/erishelper/
/prisma/devzone/
/database.json
/prisma/certs
/certs/

# Files
/.env
/.env.dev
/.env.development
/package-lock.json

# Config files
/firebase.json

# Extensions
*.zip
*.sqlite
*.exe
*.db
*.development.json